<h1>Update Article Information</h1>

<form class="" action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <p>Title <input type="text" name="title" value="<%=@article.title%>"></p>
  <p>Content <input type="text" name="content" value="<%=@article.content%>"></p>
  <p> <input type="submit" name="" value="Update"></p>
</form>
