<h1>Enter Article Information</h1>

<form class="" action="/articles" method="post">
  <p>Title <input type="text" name="title" value=""></p>
  <p>Content <input type="text" name="content" value=""></p>
  <p> <input type="submit" name="" value="Submit"></p>
</form>
